{
    "subscription": "projects/${project_id}/subscriptions/rmin-zip11subscribers-emailnotification-subscription-c-${name_suffix}",
    "project": "${project_id}",
    "httpsUrl": "https://informeddelivery.usps.com",
    "sendEmailMode": true,
    "fromEmail": "USPSInformeddelivery@email.informeddelivery.usps.com",
    "fromEmailId": "USPS Informed Delivery",
    "subjectPrefix": "",
    "isReferFriendEnabled": true,
    "isReferFriendEnabledEmail": true,
    "isReferFriendEnabledText": true,
    "isPCSocialSharingFeatureEnabled": true,
    "isPCFacebookSocialSharingFeatureEnabled": true,
    "isPCTwitterSocialSharingFeatureEnabled": true,
    "isPCSmsSocialSharingFeatureEnabled": true,
    "isPCEmailSocialSharingFeatureEnabled": true,
    "isPCEncryptedSocialSharingFeatureEnabled": true,
    "isRefferalEncryptedSocialSharingFeatureEnabled": true,
    "isReminderSocialSharingFeatureEnabled": true,
    "isFacebookSocialSharingFeatureEnabled": true,
    "isTwitterSocialSharingFeatureEnabled": true,
    "isSmsSocialSharingFeatureEnabled": true,
    "isEmailSocialSharingFeatureEnabled": true,
    "isEncryptedSocialSharingFeatureEnabled": true,
    "isSharingOptOut": true,
    "sendByTime": 18,
    "maxNumberOfOutboundPackages": 20,
    "maxNumberOfMailpieces": 10,
    "maxNumberOfSatMailpieces": 5,
    "uspsTrackingLinkEnvPrefix": "",
    "nonSeqToggle": true,
    "jedisPoolMaxIdle": 10,
    "jedisPoolMinIdle": 2,
    "saturationCampaignToggle": true,
    "cloudRunUrl": "https://rmin-cloud-mc-tracking-hiirpvcpta-uc.a.run.app",
    "isCloudRunUrlToggle": false,
    "isMobileTemplateFix": true,
    "packageTypeToggle": true,
    "dedupeImbToggle": true,
    "qrParcelLockerToggle": true,
    "baseApiUrl": "https://rmin-cloud-dashboard-api-internal-hiirpvcpta-uc.a.run.app"
}