{
    "outboundPackagePartitions": 4,
    "jedisPoolMaxIdle": 10,
    "jedisPoolMinIdle": 2,
    "dashboardEventTopic":"projects/${project_id}/topics/rmin-dashboard-event-topic-e-${name_suffix}",
    "subscriberEmailParcelLockerCacheHost": "10.100.1.182",
    "subscriberEmailParcelLockerToggle": true,
    "qrCodeRetrievalTopic":"projects/${project_id}/topics/rmin-qr-code-service-topic-c-${name_suffix}"
}
